<div class="container-fluid" >
    <div class="row">

        <div class="body2">
            <div class="final animated flip">
                <h2> Here is Your Ticket</h2>
                <div class="ticket" id="ticket"><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<h2>{{single[0].detail1}}</h2>
    </div>
            <!-- <h1>{{single[0].name}}</h1>
  
            
         -->
        <div class="col">
           &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
           &nbsp;&nbsp; &nbsp;&nbsp; 
          
           
           <img src="{{single[0].img2}}" height="500px" width="1400px" alt="" width="100vh" height="100vh"><br>
            <div class="body"><br>
            
            <!-- QR      -->
                <img src="{{single[0].img1}}" height="700px" width="1600px" alt="" width="170vh" height="170vh">
               
            
                    </div>
                </div>
        </div>
        </div>
    </div>
  </div>