<div class="table-responsive  text-center">
  <table class="table table-bordered table-hover">
    <caption class="text-center">Available Trains : </caption>
    </table>
  </div>


<div id="page2" class="animated zoomInDown">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th> Train No</th>
                  <th>Train Name</th>
                  <th>Time</th>
                  <th>Cost</th>
                  <th>Book Here</th>
                </tr>
              </thead>
              <tfoot>
                
              </tfoot>
              <tbody class="member">
                <tr>
                  <td class="tnum">78654</td>
                  <td id="trainname1" class="tnam">KRISHNA</td>
                  <td class="ttime">04:30 AM</td>
                  <td class="tcost">₹ 70</td>
                  <td class="tcost"><a href="signin">Book Now</a></td>
                </tr>
                <tr>
                  <td class="tnum">54876</td>
                  <td id="trainname2" class="tnam">NILA</td>
                  <td class="ttime">10:15 AM</td>
                  <td class="tcost">₹ 70</td>
                  <td class="tcost"><a href="signin">Book Now</a></td>
                </tr>
                <tr>
                  <td class="tnum">25312</td>
                  <td id="trainname3" class="tnam">SARAYU</td>
                  <td class="ttime">15:50 PM</td>
                  <td class="tcost">₹ 70</td>
                  <td class="tcost"><a href="signin">Book Now</a></td>
                </tr>
                <tr>
                  <td class="tnum">45698</td>
                  <td id="trainname4" class="tnam">BHAVANI</td>
                  <td class="ttime">21:30 PM</td>


                  <td class="tcost">₹70</td>
                  <td class="tcost"><a href="signin">Book Now</a></td>
                </tr>
                <tr>
                  <td class="tnum">95464</td>
                  <td id="trainname5" class="tnam">PADMA</td>
                  <td class="ttime">23:15 PM</td>

                  <td class="tcost">₹ 70</td>
                  <td class="tcost"><a href="signin">Book Now</a></td>
                </tr>

              </tbody>

            </table>
          </div>

        </div>
        <br><br><br>
      </div>


    
