
<form id="booking">
<div class="color">
  <div class="index container animated zoomIn">
  
      <div class="form contactform">
        <div id="page1">
          <h1>Book Your Train Ticket</h1>
          <div class="index row">
    
            <div class="field col-sm-6">
              <label for="to"><b>START :</b></label><br><br>
              <select class="form-select" name="START" [(ngModel)]="START" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                 <option value="Aluva">Aluva</option>
                <option value="Pulinchodu">Pulinchodu</option>
                  <option value="Companypady">Companypady</option>
                  <option value="Ambattukavu">Ambattukavu</option>
                  <option value="Muttom">Muttom</option>
                    <option value="Kalamassery">Kalamassery</option>
                      <option value="Cochin University">Cochin University</option>
                        <option value="Pathadipalam">Pathadipalam</option>
                          <option value="Edapally">Edapally</option>
                            <option value="Changampuzha">Changampuzha Park </option>
                              <option value="Palarivattom">Palarivattom</option>
                                <option value="JLN Stadium">JLN Stadium</option> 
                                  <option value="Kaloor">Kaloor</option>
                                    <option value="Town Hall">Town Hall</option>
                                      <option value="M.G Road">M.G Road</option>
                                        <option value="Maharaja's">Maharaja's  College</option>
                                          <option value="Ernakulam South">Ernakulam South</option>
                                            <option value="Kadavanthara">Kadavanthara</option>
                                              <option value="Elamkulam">Elamkulam</option>
                                                <option value="Vyttila">Vyttila</option>
                                                  <option value="Thaikoodam">Thaikoodam</option>
                                                    <option value="Petta">Petta</option>
                                                      <option value="Vadakkekotta">Vadakkekotta</option>
                                                        <option value="SN Junction">SN Junction</option>
    
                </select>
              
            </div>
            <div class="index row">
    
              <div class="field col-sm-6">
           
              <label for="to"><b>DESTINATION :</b></label><br><br>
              <select class="form-select"  name="DESTINATION" [(ngModel)]="DESTINATION" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                 <option value="Aluva">Aluva</option>
                <option value="Pulinchodu">Pulinchodu</option>
                  <option value="Companypady">Companypady</option>
                  <option value="Ambattukavu">Ambattukavu</option>
                  <option value="Muttom">Muttom</option>
                    <option value="Kalamassery">Kalamassery</option>
                      <option value="Cochin University">Cochin University</option>
                        <option value="Pathadipalam">Pathadipalam</option>
                          <option value="Edapally">Edapally</option>
                            <option value="Changampuzha">Changampuzha Park </option>
                              <option value="Palarivattom">Palarivattom</option>
                                <option value="JLN Stadium">JLN Stadium</option> 
                                  <option value="Kaloor">Kaloor</option>
                                    <option value="Town Hall">Town Hall</option>
                                      <option value="M.G Road">M.G Road</option>
                                        <option value="Maharaja's">Maharaja's  College</option>
                                          <option value="Ernakulam South">Ernakulam South</option>
                                            <option value="Kadavanthara">Kadavanthara</option>
                                              <option value="Elamkulam">Elamkulam</option>
                                                <option value="Vyttila">Vyttila</option>
                                                  <option value="Thaikoodam">Thaikoodam</option>
                                                    <option value="Petta">Petta</option>
                                                      <option value="Vadakkekotta">Vadakkekotta</option>
                                                        <option value="SN Junction">SN Junction</option>
    
                </select>
              </div>
              </div>
            
    <br><br><br><br>
    
            <div class="field col-sm-6 col-centered">
              <label for="datepicker"><b>DATE :</b></label><br><br>
              <input id="datepicker" type="date" /><br><br>
            </div>
            <div class="clearfix visible-xs"></div>
            <a class="btn btn-info" (click)="addData()">BOOK NOW</a>
           
          </div>
 