<div class="color">
  <div class="index container animated zoomIn">
  
      <div class="form contactform">
        <div id="page1">
          <h1>Book Your Train Ticket</h1>
          <div class="index row">
    
            <div class="field col-sm-6">
              <label for="to"><b>START :</b></label><br><br>
              <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                 <option value="1">Alua</option>
                <option value="2">Pulinchodu</option>
                  <option value="3">Companypady</option>
                  <option value="4">Ambattukavu</option>
                  <option value="5">Muttom</option>
                    <option value="6">Kalamassery</option>
                      <option value="7">Cochin University</option>
                        <option value="8">Pathadipalam</option>
                          <option value="9">Edapally</option>
                            <option value="10">Changampuzha Park </option>
                              <option value="12">Palarivattom</option>
                                <option value="13">JLN Stadium</option> 
                                  <option value="14">Kaloor</option>
                                    <option value="15">Town Hall</option>
                                      <option value="16">M.G Road</option>
                                        <option value="17">Maharaja's  College</option>
                                          <option value="18">Ernakulam South</option>
                                            <option value="20">Kadavanthara</option>
                                              <option value="21">Elamkulam</option>
                                                <option value="22">Vyttila</option>
                                                  <option value="23">Thaikoodam</option>
                                                    <option value="24">Petta</option>
                                                      <option value="25">Vadakkekotta</option>
                                                        <option value="26">SN Junction</option>
    
                </select>
              
            </div>
            <div class="index row">
    
              <div class="field col-sm-6">
           
              <label for="to"><b>DESTINATION :</b></label><br><br>
              <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                 <option value="1">Alua</option>
                <option value="2">Pulinchodu</option>
                  <option value="3">Companypady</option>
                  <option value="4">Ambattukavu</option>
                  <option value="5">Muttom</option>
                    <option value="6">Kalamassery</option>
                      <option value="7">Cochin University</option>
                        <option value="8">Pathadipalam</option>
                          <option value="9">Edapally</option>
                            <option value="10">Changampuzha Park </option>
                              <option value="12">Palarivattom</option>
                                <option value="13">JLN Stadium</option> 
                                  <option value="14">Kaloor</option>
                                    <option value="15">Town Hall</option>
                                      <option value="16">M.G Road</option>
                                        <option value="17">Maharaja's  College</option>
                                          <option value="18">Ernakulam South</option>
                                            <option value="20">Kadavanthara</option>
                                              <option value="21">Elamkulam</option>
                                                <option value="22">Vyttila</option>
                                                  <option value="23">Thaikoodam</option>
                                                    <option value="24">Petta</option>
                                                      <option value="25">Vadakkekotta</option>
                                                        <option value="26">SN Junction</option>
    
                </select>
              </div>
              </div>
            
    <br><br><br><br>
    
            <div class="field col-sm-6 col-centered">
              <label for="datepicker"><b>DATE :</b></label><br><br>
              <input id="datepicker" type="date" /><br><br>
            </div>
            <div class="clearfix visible-xs"></div>
            <a href="time" class="btn btn-info">BOOK NOW</a>
           
          </div>
