body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .bg-image {
    background-image: url('https://pbs.twimg.com/media/DbjhwL-VwAE0hw9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
