<!-- 

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://wtzupcity.com/upload/37597km_fb_out0186.png" alt="First slide">
      <div class="carousel-caption">
        <h1 class="w" >Welcome To Kochi Metro</h1>
       
      </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="https://pbs.twimg.com/media/DbjhwL-VwAE0hw9.jpg:large" alt="Second slide">
      <div class="carousel-caption">
        <h1 >Welcome To Kochi Metro</h1>
       
      </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.livemint.com/img/2021/03/14/1600x900/PTI7_31_2019_000162B_1567579992893_1615681694475.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h1 >Welcome To Kochi Metro</h1>
       
      </div>
    </div>
    
  </div>
</div>


<div>
  <br><br>
    
    <b><h1 class="cb">Special Feature: Get 20% Discount on fare for every metro ride</h1></b><br>
    <div class="b"><a href="#" class="btn btn-primary">APPLY FOR CARD</a></div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">Discount on Metro Fare</h5><br><br>
          <p class="card-text"> Get a discount on metro ticket fares, every time you use your Card</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">Direct Access To Kochi Metro</h5>
          <p class="card-text">No Queues - Just Tap your Card at the gateand proceed for your Metro ride</p>
        
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">Instant Issuance </h5><br><br>
          <p class="card-text">Get your Card at the nearest Kochi Metro
            station, with your name on it.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Also for Retail & Online</h5><br><br>
          <p class="card-text">Use your Card at any retail and online stores as well</p>
          
        </div>
      </div>
      
    </div>
  </div>
  <br>
  <h3 class="cb">Special Feature: Get 20% Discount on fare for every metro ride.</h3><br>
 <div class="b"><a href="#" class="btn btn-primary">HELP FOR REGISTRATION</a></div>
  <h3 class="cb">Grab your Kochi card</h3>
  <div class="b"><a href="#" class="btn btn-primary">SUBSCRIBE</a></div>
  <h5 class="cb">Kochi Metro has revised the fare structure by bringing back the old rates. Kochi Metro has also brought back the Kochil card offers. Rochi 1 card customers will get a discount of 20 percent on every ride. Kochil card users can now enjoy monthly and bimonthly trip passes also. Kochi I card customers will get an offer of 33 percent discount for 60 days pan while the offer is 25 percent discount for monthly pass (30 days).

    The revision will also apply for the Weekday Pass and Weekend Pass.</h5><br><br>
    <h6>New Structure<br>

      Slabs: Rs 10,20,30,40,50,60<br>
      
      Weekday Pass: Rs 125<br>
      
      Weekend Pass: Rs 230</h6>



</div>-->
<!-- https://wtzupcity.com/upload/37597km_fb_out0186.png
https://pbs.twimg.com/media/DbjhwL-VwAE0hw9.jpg:large
https://images.livemint.com/img/2021/03/14/1600x900/PTI7_31_2019_000162B_1567579992893_1615681694475.jpg -->

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wtzupcity.com/upload/37597km_fb_out0186.png" alt="..." width="1600"height="650">
      <div class="carousel-caption">
      
        <h1>Welcome To Kochi Metro</h1>
       
       
      </div>
    </div>
    
    <div class="carousel-item">
      <img src="https://pbs.twimg.com/media/DbjhwL-VwAE0hw9.jpg:large" width="1600px"height="650">
      <div class="carousel-caption">
      
        <h1>Welcome To Kochi Metro</h1>
       
       
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fcok8-1.fna.fbcdn.net/v/t1.6435-9/135155560_3834498546571631_6577195221528073911_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=7oJLklY8Ch0AX_gsX_s&_nc_ht=scontent.fcok8-1.fna&oh=00_AfDSmCDw3wLICY9RzfuI-8xuh2lJpoqbFk7_2Im0VphMdw&oe=6432519A" class="d-block w-1000" alt="..." width="1600"height="650">
      <div class="carousel-caption">
      
        <h1>Welcome To Kochi Metro</h1>
       
       
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <br><br>
    
    <b><h1 class="cb">Special Feature: Get 20% Discount on fare for every metro ride</h1></b><br>
    <div class="b"><a href="#" class="btn btn-primary">APPLY FOR CARD</a></div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">Discount on Metro Fare</h5><br><br>
          <p class="card-text"> Get a discount on metro ticket fares, every time you use your Card</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">Direct Access To Kochi Metro</h5>
          <p class="card-text">No Queues - Just Tap your Card at the gateand proceed for your Metro ride</p>
        
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">Instant Issuance </h5><br><br>
          <p class="card-text">Get your Card at the nearest Kochi Metro
            station, with your name on it.</p>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Also for Retail & Online</h5><br><br>
          <p class="card-text">Use your Card at any retail and online stores as well</p>
          
        </div>
      </div>
      
    </div>
  </div>
  <br>
  <h3 class="cb">Special Feature: Get 20% Discount on fare for every metro ride.</h3><br>
 <div class="b"><a href="#" class="btn btn-primary">HELP FOR REGISTRATION</a></div>
  <h3 class="cb">Grab your Kochi card</h3>
  <div class="b"><a href="#" class="btn btn-primary">SUBSCRIBE</a></div>
  <h5 class="cb">Kochi Metro has revised the fare structure by bringing back the old rates. Kochi Metro has also brought back the Kochil card offers. Rochi 1 card customers will get a discount of 20 percent on every ride. Kochil card users can now enjoy monthly and bimonthly trip passes also. Kochi I card customers will get an offer of 33 percent discount for 60 days pan while the offer is 25 percent discount for monthly pass (30 days).

    The revision will also apply for the Weekday Pass and Weekend Pass.</h5><br><br>
    <h6>New Structure<br>

      Slabs: Rs 10,20,30,40,50,60<br>
      
      Weekday Pass: Rs 125<br>
      
      Weekend Pass: Rs 230</h6>



</div>
